h1{
	font-size: 50px
    text-transform: uppercase;
    
}

p{
	text-align: center;
	background-color: blue;

}

img{
	border-radius: 30px;
	height: 30%;
	width:30%;
	
}

body{
	font-family: Arial;
	background-image: url("bg2.jpg");
}

.color{
	color: white;
}

