.jumbotron {
	background: url(https://wallpaperscraft.com/image/dark_spot_background_texture_50611_1920x1080.jpg) no-repeat center center;
	background-position: 0% 25%;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;

}